textarea.form-control.inquiry_detail {
	height: 80px;
}
.so-askquestion-form .form-error .form-control {
	border-color: rgb(241, 51, 64);
	background-color: rgb(255, 241, 242);
}
.so-askquestion-form .page-subheading {
	margin: 0 0 10px 0;
	font-size: 18px;
	border-bottom: 1px solid #eee;
    padding-bottom: 5px;
}
.so-askquestion-form .mt-10 {
	margin-top: 10px;
}
.so-askquestion-form sup {
	color: red;
}
@media (min-width: 480px) {
	.so-askquestion-form {
		width: 380px;
	}
}